body {
    
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 34, 43);
}

.hero {
    text-align: center;
    padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.input-field {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    margin-right: 10px;
}

.submit-button {
    padding: 5px 15px;
    background-color: #1eb300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.submit-button:hover {
    background-color: #157901;
}

#encodedTextContainer {
    text-align: center;
    background-color: #dfdfdf; 
    padding: 20px;
    border-radius: 10px;
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translateX(-50%); 
}

#encodedText {
    color: rgb(0, 0, 0);
}

.scroller {
    border: 5px solid gray;
    display: flex;
    align-items: center; /* Center vertically within .scroller */
    max-width: 800px;
    overflow: hidden;
    position: absolute; /* Position absolutely */
    top: 25%; /* Center vertically on the screen */
    left: 50%; /* Center horizontally on the screen */
    transform: translate(-50%, -50%); /* Move back by half of its width and height */
    -webkit-mask: 
        linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
    mask: 
        linear-gradient(90deg,transparent, white 20%, white 80%, transparent);
    scroll-behavior: smooth;
}
 
.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-400);
}

.scroller_inner {
    width: max-content;
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-wrap: nowrap;
    
}

